 <!-- Header Include !-->
<header class="template-header">

	<div class="top-container">

		<div class="wrapper clearfix">

				{{widget('companyaddress', 'topcompanyaddress', {})|raw}}

				<ul>
					<li class="top-profile">{{widget('profile', 'topphone', { 'profileType':'phone'})|raw}}</li>
					<li class="top-profile">{{widget('profile', 'topemail', { 'profileType':'email'})|raw}}</li>
				</ul>

		</div>


	</div>

		<div class="wrapper clearfix">

			<div class="company-info">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}

				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</div>

			<div class="nav">
				{{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
			</div>

		</div>

</header>